<h2 style="text-align:center">27 & 28/04/2024</h2>

<!-- Swiper -->
<swiper-container class="flex flex-col mx-auto max-w-2xl px-5 py-5 rounded-lg" navigation="true" pagination="true" pagination-type="fraction" effect="cards" scrollbar="true" mousewheel="true" keyboard="true">

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/Cartel.jpeg" alt="Cartel">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/1_Ignasi.png" alt="Winner">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/2_Top4.png" alt="TOP4">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/3_Top8.png" alt="TOP8">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/4_Top16_1.jpg" alt="TOP16_1">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/5_Top16_2.png" alt="TOP16_2">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/6_PrizePool.png" alt="PrizePool">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/M0.png" alt="M0">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/M1.png" alt="M1">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/M2.png" alt="M2">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/M3.jpeg" alt="M3">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/M4.png" alt="M4">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/M5.png" alt="M5">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/M6.jpeg" alt="M6">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/M7.jpeg" alt="M7">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/M8.jpeg" alt="M8">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/M9.png" alt="M9">
    </mat-card>
  </swiper-slide>
  
</swiper-container>