<h2 style="text-align:center">27 & 28/04/2024</h2>

<!-- Swiper -->
<swiper-container class="flex flex-col mx-auto max-w-2xl px-5 py-5 rounded-lg" navigation="true" pagination="true" pagination-type="fraction" effect="cards" scrollbar="true" mousewheel="true" keyboard="true">

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <img mat-card-image src="assets/hemeroteca/2024/cEDH/Aniversario/Cartel.jpeg" alt="Cartel">
    </mat-card>
  </swiper-slide>

</swiper-container>