<h2 style="text-align:center">Torneo Modern #3 - 10 de junio de 2023</h2>

<!-- Swiper -->
<swiper-container class="flex flex-col mx-auto max-w-2xl px-2 sm:px-6 lg:px-8" navigation="true" pagination="true" pagination-type="fraction" effect="cards" scrollbar="true" mousewheel="true" keyboard="true">

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/3/Cartel.jpg" alt="Cartel">
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>Resultados suizo</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/3/ResultadosSuizo.jpeg" alt="ResultadosSuizo">
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>Metagame</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/3/Metagame.png" alt="Metagame">
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>1º</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/3/1.jpeg" alt="1-2">
      <mat-card-content>
        <p>Martín Otero (Affinity)</p>
      </mat-card-content>
    </mat-card>

  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>2º</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/3/2.jpeg" alt="1-2">
      <mat-card-content>
        <p>Antonio Menaya (Mill)</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>3º-4º</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/3/3-4.jpeg" alt="1-2">
      <mat-card-content>
        <p>Rubén Rodríguez (Crativity) y César Novo (Amulet)</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

</swiper-container>