<div class="about-section">
  <div class="text">

    <h1>Quienes somos</h1>

    <br>
    <br>

    <p>Artabrian Nights es una asociación sin ánimo de lucro que nace con el objetivo de organizar torneos de <em>Magic: the Gathering</em> en Ferrolterra.
      <br><br>
      Somos un grupo de amigos que jugamos  mayormente formatos como Modern y Commander.
      Todo comenzó con un una idea. Uno de nosotros dijo: "¿Por qué no organizamos un torneo de Modern?". Y los demás
      respondimos: "¿Y por qué no?"
      <br>
      Nos pusimos manos a la obra y, tras el primer torneo, quedamos más que satisfechos con nuestro trabajo y la
      acogida por parte de la comunidad. Como vimos que a la gente le gustó la iniciativa, nos propusimos dar un paso
      más: crear una asociación con las siguientes metas:
      </p>
    <ul>
      <br>
      <br>
      <h3>Objetivos</h3>
      <br>
      <li> Dar a conocer diversos formatos del juego de cartas <em>Magic: the Gathering</em>, organizando eventos y fomentando
        la
        participación para crear nuevos lazos y reforzar la comunidad.
      </li>
      <li> Crear un entorno que favorezca el juego distendido, dando a los jugadores un lugar donde practicar y competir
        por buenos premios, escuchando las sugerencias y peticiones de la comunidad.
      </li>
      <li> Minimizar la desventaja que pueda acarrear la desigualdad adquisitiva en la capacidad para formar una baraja
        que
        sirva para competir, primando las capacidades mentales de cada individuo por encima de las económicas.
      </li>
    </ul>
    <br>
    <br>
      <h3>Agradecimientos</h3>
      <p>
      <br>
      Nos gustaría dar las gracias a las asociaciones y tiendas que han apoyado este proyecto y continúan haciéndolo, ya que
      sin ellas lo que hoy es una realidad continuaría siendo tan solo una idea.
      <br>
      Dante y Dani de <a href="https://linktr.ee/eldritchgate">Eldritch Gate</a> y Melchor de <a href="https://impactreturns.weebly.com/">Impact Returns</a> merecen una mención especial: sin ellos
      nada de esto sería posible.
    </p>




  </div>