<section class="p-4 lg:p-8 dark:bg-gray-800 dark:text-gray-100 text-justify text-lg">

  <!-- THREE COLUMNS TO PREVENT BACKGROUND SYMBOLS FROM INVADING CONTENT -->
  <div class="flex flex-row">
    <div class="w-1/4 float-left"></div>
    <div class="bg-indigo-100 bg-opacity-75 w-full max-w-screen-xl">

      <div class="mx-auto space-y-12">

        <!-- IMAGE + TEXT -->
        <div class="flex flex-col flex-1 rounded-md shadow-sm lg:flex-row">
          <!-- WHITE FRAME -->
          <div class="group relative mx-auto">
            <div class="px-5 py-5 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none items-top justify-start space-x-2">
              <img src="{{randomArabianNightsImage}}" alt="Arabian Nights Random Image" class="lg:max-w-lg max-w dark:bg-gray-500 aspect-video">
              <p class="my-2">{{imageCaption}}</p>
            </div>
          </div>
          <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
            <span class="text-xs uppercase dark:text-gray-400"></span>
            <h3 class="text-3xl font-semibold">Artabrian Nights</h3>
            <p class="my-6 dark:text-gray-400"><b>Artabrian Nights</b> es una asociación sin ánimo de lucro que nace con el objetivo de organizar torneos de 
              <em><a href="https://magic.wizards.com/en" class="hover:underline" target="_blank" rel="noopener noreferrer">Magic: the Gathering</a></em> en Ferrolterra.</p>
            <p class="my-6 dark:text-gray-400">Esta región se encuentra en el <a href="https://es.wikipedia.org/wiki/Golfo_%C3%81rtabro" class="hover:underline" target="_blank" rel="noopener noreferrer">Golfo Ártabro</a>, 
              que da nombre a la asociación, junto con una de las primeras ediciones del juego, Arabian Nights.</p>
          </div>
        </div>

        <div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row-reverse">
          <!-- WHITE FRAME -->
          <div class="group relative mx-auto">
            <div
              class="px-5 py-5 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6">
              <img src="assets/about/Players.jpg" alt="Players"
                class="md:max-w-2xl max-w dark:bg-gray-500 aspect-video">
            </div>
          </div>
          <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
            <span class="text-xs uppercase dark:text-gray-400"></span>
            <h3 class="text-3xl font-semibold">Objetivos</h3>
            <div>
              <ul class="my-6 list-outside list-disc ml-6 dark:text-gray-400">
                <!--
              <li class="flex items-center space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current dark:text-violet-400">
                  <path d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"></path>
                  <polygon points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"></polygon>
                </svg>-->
                <li>
                  <span>Dar a conocer diversos formatos del juego de cartas <em>Magic: the Gathering</em>. </span>
                </li>

                <li>
                  <span>Organizar eventos y torneos, fomentando la participación para reforzar la comunidad actual y
                    crear
                    nuevas relaciones sociales entre participantes.</span>
                </li>

                <li>
                  <span>Crear un entorno que favorezca el juego distendido y amistoso, incluso en torneos con nivel de
                    reglas competitivo.</span>
                </li>

                <li>
                  <span>Ofrecer a los participantes un lugar donde practicar y competir por premios atractivos, sin
                    detrimento de la diversión y del espíritu deportivo.</span>
                </li>

                <li>
                  <span>Minimizar el impacto de la desigualdad social y económica en la capacidad para adquirir y jugar
                    una baraja competitiva, incidiendo en que sean las facultades intelectuales de cada individuo y no
                    las
                    económicas las que definan los resultados.</span>
                </li>

                <li>
                  <span>Promover y dar a conocer otros juegos.</span>
                </li>

              </ul>
            </div>
          </div>
        </div>


        <div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row">
          <!-- COLORFUL GRADIENT FRAME -->
          <div class="group relative mx-auto">
            <div
              class="px-5 py-5 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6">
              <img
                src="https://media.lacapital.com.ar/p/a04d6180ae73b5cf38d72ae3c92b5645/adjuntos/205/imagenes/025/750/0025750281/1200x675/smart/cartas-3jpeg.jpeg"
                alt="SampleHand" class="md:max-w-2xl max-w dark:bg-gray-500 aspect-video">
            </div>
          </div>
          <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
            <span class="text-xs uppercase dark:text-gray-400"></span>
            <h3 class="text-3xl font-semibold">Agradecimientos</h3>
            <p class="my-6 dark:text-gray-400">
              Nos gustaría dar las gracias a todas las entidades, asociaciones y tiendas que han apoyado este proyecto y continúan
              haciéndolo, ya que sin ellas lo que hoy es una realidad continuaría siendo tan solo una idea.
            </p>
          </div>
        </div>

        <div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row">
          <!-- COLORFUL GRADIENT FRAME -->
          <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
            <span class="text-xs uppercase dark:text-gray-400"></span>
            <h3 class="text-3xl font-semibold">Colaboradores</h3>
            <p class="my-6 dark:text-gray-400">
              Las actividades organizadas por Artabrian Nights no serían posibles sin la inestimable colaboración de:              
            </p>
            <div class="grid md:max-lg:grid-cols-2 lg:grid-cols-3 gap-4 my-4 items-center">
              <div class="flex justify-center">
                <img src="https://www.ferrol.gal/img/ferrol.png" alt="Concello de Ferrol" class="md:max-w-md object-contain justify-center">
              </div>
              <div class="flex justify-center">
                <img src="https://impactreturns.weebly.com/uploads/1/9/8/2/19821065/published/ir-f8_1.png" alt="Impact Returns" class="md:max-w-md object-contain">
              </div>
              <div class="flex justify-center">
                <img src="https://www.metropoliscomics.net/Styles/Master/Logo.png" alt="Metrópolis Comics" class="md:max-w-md w-full object-contain overflow-hidden">
              </div>
              </div>
              <div class="grid md:max-lg:grid-cols-2 lg:grid-cols-2 gap-4 items-center">
              <div class="flex justify-center">
                <img src="https://1.bp.blogspot.com/-fxwwKmwla2Y/USYYWDW8nrI/AAAAAAAABdI/zGU4W7S8rUM/s1600/Pazo_LOGO.jpg" alt="Pazo do Monte" class="md:max-w-md">
              </div>
              <div class="flex justify-center">
                <img src="https://www.cardmarket.com/img/public/images/user/avatar/avatar_48765.png" alt="Eldritch Gate" class="md:max-w-sm h-48">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-1/4 float-left"></div>
  </div>
</section>

<!--

<section class="p-4 lg:p-8 dark:bg-gray-800 dark:text-gray-100 text-justify text-base">

    <div class="container mx-auto space-y-12">

      <div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row">
        <!-- WHITE FRAME 
        <div class="group relative mx-auto">
          <div class="px-5 py-5 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none items-top justify-start space-x-6">
            <img src="{{randomArabianNightsImage}}" alt="Arabian Nights Random Image" class="md:max-w-2xl max-w dark:bg-gray-500 aspect-video">
            <p class="my-2">{{imageCaption}}</p>
          </div>
        </div>
        <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
          <span class="text-xs uppercase dark:text-gray-400"></span>
          <h3 class="text-3xl font-semibold">Artabrian Nights</h3>
          <p class="my-6 dark:text-gray-400"><b>Artabrian Nights</b> es una asociación sin ánimo de lucro que nace con el objetivo de organizar torneos de <em><a href="https://magic.wizards.com/en" class="hover:underline" target="_blank" rel="noopener noreferrer">Magic: the Gathering</a></em> en Ferrolterra.</p>
          <p class="my-6 dark:text-gray-400">Esta región se encuentra en el <a href="https://es.wikipedia.org/wiki/Golfo_%C3%81rtabro" class="hover:underline" target="_blank" rel="noopener noreferrer">Golfo Ártabro</a>, que da nombre a la asociación, junto con una de las primeras ediciones del juego, Arabian Nights.</p>
        </div>
      </div>

      <div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row-reverse">
        <!-- WHITE FRAME 
        <div class="group relative mx-auto">
      <div class="px-5 py-5 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6">
            <img src="assets/about/Players.jpg" alt="Players" class="md:max-w-2xl max-w dark:bg-gray-500 aspect-video">
          </div>
        </div>
        <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
          <span class="text-xs uppercase dark:text-gray-400"></span>
          <h3 class="text-3xl font-semibold">Objetivos</h3>
          <div>
          <ul class="my-6 list-outside list-disc ml-6 dark:text-gray-400">
<!--
            <li class="flex items-center space-x-2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current dark:text-violet-400">
                <path d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"></path>
                <polygon points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"></polygon>
              </svg>
            <li>
              <span>Dar a conocer diversos formatos del juego de cartas <em>Magic: the Gathering</em>. </span>
            </li>

            <li>
              <span>Organizar eventos y torneos, fomentando la participación para reforzar la comunidad actual y crear nuevas relaciones sociales entre participantes.</span>
            </li>

            <li>
              <span>Crear un entorno que favorezca el juego distendido y amistoso, incluso en torneos con nivel de reglas competitivo.</span>
            </li>

            <li>
              <span>Ofrecer a los participantes un lugar donde practicar y competir por premios atractivos, sin detrimento de la diversión y del espíritu deportivo.</span>
            </li>

            <li>
              <span>Minimizar el impacto de la desigualdad social y económica en la capacidad para adquirir y jugar una baraja competitiva, incidiendo en que sean las facultades intelectuales de cada individuo y no las económicas las que definan los resultados.</span>
            </li>

            <li>
              <span>Promover y dar a conocer otros juegos.</span>
            </li>

          </ul></div>
        </div>
      </div>


      <div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row">
        <!-- COLORFUL GRADIENT FRAME 
        <div class="group relative mx-auto">
          <div class="px-5 py-5 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6">
            <img src="https://media.lacapital.com.ar/p/a04d6180ae73b5cf38d72ae3c92b5645/adjuntos/205/imagenes/025/750/0025750281/1200x675/smart/cartas-3jpeg.jpeg" alt="SampleHand" class="md:max-w-2xl max-w dark:bg-gray-500 aspect-video">
          </div>
        </div>
        <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
          <span class="text-xs uppercase dark:text-gray-400"></span>
          <h3 class="text-3xl font-semibold">Agradecimientos</h3>
          <p class="my-6 dark:text-gray-400">
            Nos gustaría dar las gracias a las asociaciones y tiendas que han apoyado este proyecto y continúan haciéndolo, ya que
            sin ellas lo que hoy es una realidad continuaría siendo tan solo una idea.
            <br><br>
            <a class="underline text-blue-600" href="https://linktr.ee/eldritchgate">Eldritch Gate</a> e <a class="underline text-blue-600" href="https://impactreturns.weebly.com/">Impact Returns</a> merecen una mención especial: sin ellos
            nada de esto sería posible.
          </p>
        </div>
      </div>
    </div>
</section>



-->