<h2 style="text-align:center">13/07/2024</h2>

<!-- Swiper -->
<swiper-container class="flex flex-col mx-auto max-w-2xl px-5 py-5 rounded-lg" navigation="true" pagination="true" pagination-type="fraction" effect="cards" scrollbar="true" mousewheel="true" keyboard="true">

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <img mat-card-image src="assets/hemeroteca/2024/Liga/3/Cartel_T3.jpg" alt="Cartel">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>CLASIFICACIÓN LIGA</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/3/Liga.jpg" alt="Clasificación">
      <mat-card-content>
        <p>Clasificación de la Liga de Modern tras la tercera jornada</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>STANDINGS</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/3/Standings.jpg" alt="Standings">
      <mat-card-content>
        <a class="font-bold text-blue-700 text-2xl" href="https://topdeck.gg/bracket/kEzSIeP9gmbx3kXUxeG6" target="_blank" rel="noopener noreferrer">LINK TOPDECK.GG</a><br>
        <a class="font-bold text-blue-700 text-2xl" href="https://mtgtop8.com/event?e=57622&f=MO" target="_blank" rel="noopener noreferrer">LINK MTGTOP8</a>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/3/1.png" alt="DECKLISTS 1">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/3/2.png" alt="DECKLISTS 2">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/3/3.png" alt="DECKLISTS 3">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </swiper-slide>
  
  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/3/4.png" alt="DECKLISTS 4">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/3/5.png" alt="DECKLISTS 5">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/3/6.png" alt="DECKLISTS 6">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/3/7.png" alt="DECKLISTS 7">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/3/8.png" alt="DECKLISTS 8">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

</swiper-container>