<!-- Tailwind CSS NavBar -->
<nav class="justify-between items-center w-[92%] mx-auto bg-indigo-700 shadow-lg dark:bg-white">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

      <!-- Site Logo & Title -->
      <a href="https://www.artabriannights.com/" class="flex items-center">
        <img src="assets/images/ICON_white.png" class="h-16 mr-3" alt="Artabrian Nights Logo" />
        <span class="title self-center md:text-4xl sm:text-3xl text-2xl font-semibold whitespace-nowrap text-white" routerLink="/">Artabrian Nights</span>
      </a>

      <!-- Menu Items -->
      <div class="hidden w-full md:block md:w-auto">
        <ul class="font-bold flex flex-row p-4 md:p-0 mt-4 md:flex-row md:space-x-8 md:mt-0 text-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li *ngFor="let item of menuItems" class="{{item.classMenu}}">
            <a class="p-3 hover:text-indigo-200" href={{item.routerLink}}>{{item.label}}</a>
          </li>
        </ul>
      </div>

      <!-- DropDown Menu for smaller screens (Tablet and Smartphone)-->
      <ng-container>
        <button [matMenuTriggerFor]="dropMenu" type="button" class="inline-flex lg:hidden items-center p-2 w-10 h-10 justify-center text-sm hover:text-indigo-200 text-white rounded-lg dark:text-indigo-700">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
        <mat-menu #dropMenu="matMenu">
            <ng-container *ngFor="let item of menuItems; last as isLast">                
                <div class="{{item.classDropMenu}}">
                    <button mat-menu-item  routerLink={{item.routerLink}}>
                        <mat-icon class="mr">{{item.icon}}</mat-icon>
                        {{item.label}}
                    </button>
                    <ng-container *ngIf="isLast == false"><mat-divider></mat-divider></ng-container>
                </div>
            </ng-container>
        </mat-menu>
    </ng-container>

  </div>
</nav>
