/*
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  */
