<h2 style="text-align:center">Torneo Modern #4 - 12 de agosto de 2023</h2>

<!-- Swiper -->
<swiper-container class="flex flex-col mx-auto max-w-2xl px-2 sm:px-6 lg:px-8" navigation="true" pagination="true" pagination-type="fraction" effect="cards" scrollbar="true" mousewheel="true" keyboard="true">

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/4/Cartel.jpg" alt="Cartel">
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>Resultados suizo</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/4/ResultadosSuizo.jpeg" alt="ResultadosSuizo">
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>Metagame</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/4/Metagame.png" alt="Metagame">
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>1º-2º</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/4/1-2.jpg" alt="1-2">
      <mat-card-content>
        <p>John Rodríguez (Rakdos Scam) e Iván Mata (Hammer)</p>
      </mat-card-content>
    </mat-card>

  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>3º-4º</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/4/3-4.jpg" alt="1-2">
      <mat-card-content>
        <p>Brais Mourenza (Temur Rhinos) y Fabio Sánchez (Domain Zoo)</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>5º-8º</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/4/4-8.jpg" alt="1-2">
      <mat-card-content>
        <p>Diego Aguiar (Burn), Jacobo Pillado (Rakdos Scam) y Eduardo Novoa (Rakdos Scam)</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

</swiper-container>