<h2 style="text-align:center">Torneo Modern #1 - 18 de febrero de 2023</h2>

<!-- Swiper desktop -->
<swiper-container class="flex flex-col mx-auto max-w-2xl px-2 sm:px-6 lg:px-8" navigation="true" pagination="true" pagination-type="fraction" effect="cards" scrollbar="true" mousewheel="true" keyboard="true">

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/1/Cartel.jpeg" alt="Cartel">
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>Resultados suizo</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/1/ResultadosSuizo.jpeg" alt="ResultadosSuizo">
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>Metagame</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/1/Metagame.jpeg" alt="Metagame">
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>1º-2º</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/1/1-2.jpeg" alt="1-2">
      <mat-card-content>
        <p>Diego Aguiar y Samuel Vilas</p>
      </mat-card-content>
    </mat-card>

  </swiper-slide>
  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>3º-4º</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/1/3-4.jpeg" alt="1-2">
      <mat-card-content>
        <p>Rodrigo Lamela y Martín Souto</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>5º-8º</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/1/5-8.jpeg" alt="1-2">
      <mat-card-content>
        <p>Miguel Vidal, Fernando Lorenzo, David Servia y Rubén Rodríguez</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

</swiper-container>