<h2 style="text-align:center">11/05/2024</h2>

<!-- Swiper -->
<swiper-container class="flex flex-col mx-auto max-w-2xl px-5 py-5 rounded-lg" navigation="true" pagination="true" pagination-type="fraction" effect="cards" scrollbar="true" mousewheel="true" keyboard="true">

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/Cartel_T2.jpeg" alt="Cartel">
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>CLASIFICACIÓN LIGA</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/Liga.jpg" alt="Clasificación">
      <mat-card-content>
        <p>Clasificación de la Liga de Modern tras la segunda jornada</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>STANDINGS</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/Suizo.jpeg" alt="Standings">
      <mat-card-content>
        <a class="font-bold text-blue-700 text-2xl" href="https://topdeck.gg/bracket/7JDGEgM4TRzo6lko0QVT" target="_blank" rel="noopener noreferrer">LINK TOPDECK.GG</a><br>
        <a class="font-bold text-blue-700 text-2xl" href="https://mtgtop8.com/event?e=55410&f=MO" target="_blank" rel="noopener noreferrer">LINK MTGTOP8</a>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/1.png" alt="DECKLISTS 1">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/2.png" alt="DECKLISTS 2">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/3.jpeg" alt="DECKLISTS 3">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </swiper-slide>
  
  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/4.jpeg" alt="DECKLISTS 4">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/5.png" alt="DECKLISTS 5">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/6.jpeg" alt="DECKLISTS 6">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/7.jpeg" alt="DECKLISTS 7">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/8.png" alt="DECKLISTS 8">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/8_Carlos.jpeg" alt="TOP5-8">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/7_Menaya.jpeg" alt="TOP5-8">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/6_Fer.jpeg" alt="TOP5-8">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/5_Rodrigo.jpeg" alt="TOP5-8">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/4_John.jpeg" alt="TOP3-4">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/3_Santi.jpeg" alt="TOP3-4">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide class="px-5 py-5 bg-white rounded-lg flex items-top justify-start space-x-6">
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2024/Liga/2/1_2_DM.jpeg" alt="Finalista y Ganador">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

</swiper-container>