<h2 style="text-align:center">Torneo Modern #2 - 18 de febrero de 2023</h2>

<!-- Swiper -->
<swiper-container class="flex flex-col mx-auto max-w-2xl px-2 sm:px-6 lg:px-8" navigation="true" pagination="true" pagination-type="fraction" effect="cards" scrollbar="true" mousewheel="true" keyboard="true">

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/2/Cartel.jpg" alt="Cartel">
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>Resultados suizo</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/2/ResultadosSuizo.jpeg" alt="ResultadosSuizo">
    </mat-card>
  </swiper-slide>
<!--
  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>Metagame</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/2/Metagame.jpeg" alt="Metagame">
    </mat-card>
  </swiper-slide>
-->
  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>1º-2º</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/2/1-2.jpeg" alt="1-2">
      <mat-card-content>
        <p>Bruno Fresco y Yelko González</p>
      </mat-card-content>
    </mat-card>

  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>3º-4º</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/2/3.jpeg" alt="1-2">
      <mat-card-content>
        <p>Alberto Otero</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>3º-4º</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/2/4.jpeg" alt="1-2">
      <mat-card-content>
        <p>Fabio Sánchez</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>5º-8º</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/2/6.jpeg" alt="1-2">
      <mat-card-content>
        <p>Pablo González</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>5º-8º</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/2/5-8.jpeg" alt="1-2">
      <mat-card-content>
        <p>Víctor Rodríguez y Jorge Sánchez</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/2/Mesas1.jpeg" alt="1-2">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/2/Mesas2.jpeg" alt="1-2">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

</swiper-container>