<h2 style="text-align:center">Torneo Modern #5 - 21 de octubre de 2023</h2>

<!-- Swiper -->
<swiper-container class="flex flex-col mx-auto max-w-2xl px-2 sm:px-6 lg:px-8" navigation="true" pagination="true" pagination-type="fraction" effect="cards" scrollbar="true" mousewheel="true" keyboard="true">

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/5/Cartel.png" alt="Cartel">
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>Metagame</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/5/Metagame.png" alt="Metagame">
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>Top4</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/5/Premiados.jpeg" alt="Ganadores">
      <mat-card-content>
        <p>Yelko (Beans Cascade), Martín (Boros Burn) e Iván (Ad Nauseam)</p>
      </mat-card-content>
    </mat-card>

  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/5/Mesas1.jpeg" alt="M1">
      <mat-card-content>
        <p>Esta vez el torneo tuvo lugar en <a class="underline text-blue-600" href="http://www.pazodomonte.com/home1.html">Pazo do Monte</a></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/5/Mesas2.jpeg" alt="M2">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/5/Mesas3.jpeg" alt="M3">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/5/Mesas4.jpeg" alt="M4">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/5/Mesas5.jpeg" alt="M5">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/5/Mesas6.jpeg" alt="M6">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

</swiper-container>