/*
.ft{
    //background-color: antiquewhite;
    background-color: transparent;
    max-width: 100%;
    flex: 1 1 auto;
    float: center;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0 8px;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    //margin-top: 10px;
   }
*/
* {
    box-sizing: border-box;
    font-family: ’Lato’, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

.ft {
    background-color: azure;
    color: darkslategray;
    line-height: 1;
    font-size: small;
    margin: 0;
}

.ft a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: underline;
}

.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1rem;
    padding-bottom: 0.625rem;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    //border-top: 1px #777 solid;
    padding-top: 1.25rem;

}

.ft-social-list li {
    font-size: 1.25rem;
    padding-inline: 0.5vh;
}
