<footer>
<mat-toolbar class="ft" fxLayout="row">

    <!-- Footer legal -->
    <section class="ft-legal">
        <ul class="ft-legal-list">
            <!--
              <li><a href="#">Terms &amp; Conditions</a></li>    
              <li><a href="#">Privacy Policy</a></li>    
            -->
            <li>&copy; 2023 Copyright Artabrian Nights</li>
        </ul>
    </section>

    <span fxFlex></span>

    <!-- Footer social -->
    <section class="ft-social">
        <ul class="ft-social-list">
            <li>
                <a href="https://www.instagram.com/kabasamtg">
                    <mat-icon>
                        <img src="assets/icon/instagram.svg" />
                    </mat-icon>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/ArtabrianNights">
                    <mat-icon>
                        <img src="assets/icon/youtube.svg" />
                    </mat-icon>
                </a>
            </li>
            <li>
                <a href="mailto:artabriannights@gmail.com">
                    <mat-icon>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" />
                    </mat-icon>
                </a>
            </li>
            
        </ul>
    </section>

</mat-toolbar>
</footer>