<h2 style="text-align:center">I Torneo Nadal Modern - 23 de diciembre de 2023</h2>

<!-- Swiper -->
<swiper-container class="flex flex-col mx-auto max-w-2xl px-2 sm:px-6 lg:px-8" navigation="true" pagination="true" pagination-type="fraction" effect="cards" scrollbar="true" mousewheel="true" keyboard="true">

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/6/Cartel.png" alt="Cartel">
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>Metagame</mat-card-title>
      </mat-card-header>      
      <img mat-card-image src="assets/hemeroteca/2023/6/Metagame.png" alt="Metagame">
      <mat-card-content>
        <a class="font-bold text-blue-700" href="https://mtgtop8.com/event?e=50742&f=MO" target="_blank" rel="noopener noreferrer">Enlace al TOP 8</a>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>STANDINGS</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/6/Standings.jpg" alt="Standings">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/6/TOP8/1_4C-CASCADE.JPG" alt="DECKLISTS 1">
      <mat-card-content>
        <p>1º - 4C CASCADE - Jonathan Lamas</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/6/TOP8/2_BURN.JPG" alt="DECKLISTS 2">
      <mat-card-content>
        <p>2º - BOROS BURN - Martín Otero</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/6/TOP8/3_BURN.JPG" alt="DECKLISTS 3">
      <mat-card-content>
        <p>3º - BOROS BURN - Miguel Taboada</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>
  
  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/6/TOP8/4_SCAM.JPG" alt="DECKLISTS 4">
      <mat-card-content>
        <p>4º - RAKDOS SCAM - Javier Pérez</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/6/TOP8/5_GOBLINS.JPG" alt="DECKLISTS 5">
      <mat-card-content>
        <p>5º - GOBLINS - Samuel Vilas</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/6/TOP8/6_MERFOLK.JPG" alt="DECKLISTS 6">
      <mat-card-content>
        <p>6º - MERFOLK - Jaime Vázquez</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/6/TOP8/7_FOOD_COMBO.JPG" alt="DECKLISTS 7">
      <mat-card-content>
        <p>7º - FOOD COMBO - Jorge C. Vázquez</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title>DECKLISTS TOP 8</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/6/TOP8/8_LIVING_END.JPG" alt="DECKLISTS 8">
      <mat-card-content>
        <p>8º - LIVING END - Diego Aguiar</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/6/TOP5-8.jpg" alt="TOP5-8">
      <mat-card-content>
        <p>TOP 5-8</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/6/TOP4.jpg" alt="TOP4">
      <mat-card-content>
        <p>El TOP 4 pacta repartir premios y jugar para decidir quien se lleva a casa el trofeo</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/6/Ganador.jpg" alt="Ganador">
      <mat-card-content>
        <p>El ganador del torneo, Jonathan Lamas</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/6/Alimentos.jpg" alt="Alimentos">
      <mat-card-content>
        <p>Gracias a todos por participar en el torneo y hacer posible esta recogida de alimentos!</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

  <swiper-slide>
    <mat-card class="column-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/hemeroteca/2023/6/BancoAlimentos.png" alt="BancoAlimentos">
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>

</swiper-container>