<!-- Swiper container for large screens: reduce size -->
<swiper-container class="flex flex-col mx-auto max-w-2xl px-2 sm:px-6 lg:px-8">

  <!-- COLORFUL GRADIENT FRAME - Working as a white frame, div absolute not working... -->
  <div class="group relative mx-auto">
    <div class="absolute -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"></div>
      <div class="px-5 py-5 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6">

        <!-- SWIPER -->
        <swiper-slide>
          <mat-card>
            <mat-card-header class="flex flex-col items-center">
              <mat-card-title class="dark:text-gray-700 text-center">{{upcoming}}</mat-card-title>
              <mat-card-title class="dark:text-gray-700 text-center">II Aniversario cEDH Galicia - 27/04/2024</mat-card-title>
              <mat-card-title class="dark:text-gray-700 text-center"><a class="underline text-blue-600" href="https://forms.gle/BPJfCvZfquXm2tai9" target="_blank" rel="www.artabriannights.com">{{registration}}</a></mat-card-title>
              <mat-card-title class="text-center">
                <!--<a href="https://docs.google.com/forms/d/e/1FAIpQLScbjRzcvWBmUY03S_YR-9nE1GNwfa2XXtn_Za3St4QbJqMgkA/viewform?usp=sf_link" target="_blank" rel="noopener noreferrer">Formulario de preinscripción</a>-->
                <!--<h1>{{greeting}}
                <a class="text-blue-700 underline" href="https://artabriannights.github.io/ArtabrianNightsWeb/archive">{{archive}}</a></h1>-->
              </mat-card-title>
            </mat-card-header>
            <img src="assets/images/NextTournament/Cartel.jpeg" alt="CartelProximoEvento"> 
          </mat-card>
        </swiper-slide>

      </div>
    </div>
</swiper-container>
